# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~

#ignore thumbnails created by windows
Thumbs.db

#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.ipch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.idb
*.log
*.tlog
*.lastbuildstate
*.dll
*.lib
*.sbr
*.sdf
*.opensdf
*.cso

#Ignore folders built by Unity
Unity3D/3DTetris Prototype/Library/metadata/
Unity3D/3DTetris Prototype/Library/ScriptAssemblies/
Unity3D/3DTetris Prototype/Assets/bin/
Unity3D/3DTetris Prototype/Temp/